body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
   width: 90vw ;
   margin: 10px;
   padding: 15px;
}

.sub-container{
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 15px;
    padding: 5px;
}

.boxes{
    border: 1px solid black;
    /* width: 30%; */
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}

.filter-box,.input-box{
    width: 400px;
    height: 30px;
    border: 1px solid rgb(49, 47, 47);
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
}

.lookUp-box{
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(49, 47, 47);
    border-radius: 5px;
    box-shadow: 1px 1px 3px;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}